<div class="row justify-content-space-around">
<% logs.each do |log| %>
  <div class="col-lg-5 logs-index">
      <%= link_to log_path(log) do %>
        <span class="btn-sticky"><%= show_date(log.date) %> <%= log.flight_number %></span>
      <% end %>
      <span id="log_<%= log.id %>" class="fav"><%= render 'public/favorites/favorite-btn', log: log %></span>
  </div>
<% end %>
</div>
