<div class="container my-4">
  <h3 class="text-center">フライトログ一覧</h3>
    <div class="row date-search">
      <div class="col-lg-10">
      <%= form_with url: search_log_path, method: :get, local: true do |f| %>
        <%= f.date_field :date_from %> ~ <%= f.date_field :date_to %>
        <%= f.submit "検索", class: 'btn btn-sm btn-outline-secondary' %>
      <% end %>
      </div>
    </div>
    <div class="row mt-2 favorite-search">
      <div class="col-lg-10">
        <%= link_to 'お気に入り一覧', favorite_log_path, class: 'text-dark text-decoration-none' %>
      </div>
    </div>
  <%= render 'index', logs: @logs %>
  <div class="row justify-content-center mt-5">
    <%= paginate @logs %>
  </div>
</div>