<h2><%= @log.date %></h2>
  <h4>航空会社</h4>
  <%= @log.airline %>
  <h4>便名</h4>
  <%= @log.flight_number %>
  <h4>機種</h4>
  <%= @log.aircraft %>
  <h4>機体番号</h4>
  <%= @log.registration_number %>
  <h4>クラス</h4>
  <%= @log.boarded_class %>
  <h4>座席番号</h4>
  <%= @log.seat %>
  <h4>出発空港</h4>
  <%= @log.departure_airport %>
  <h4>出発ゲート</h4>
  <%= @log.departure_gate %>
  <h4>出発地天候</h4>
  <%= @log.departure_weather %>
  <h4>出発地気温</h4>
  <%= @log.departure_temp %>
  <h4>出発予定時刻</h4>
  <%= @log.etd %>
  <h4>出発時刻</h4>
  <%= @log.atd %>
  <h4>離陸滑走路</h4>
  <%= @log.departure_runway %>
  <h4>到着空港</h4>
  <%= @log.arrival_airport %>
  <h4>到着ゲート</h4>
  <%= @log.arrival_gate %>
  <h4>到着地天候</h4>
  <%= @log.arrival_weather %>
  <h4>到着地気温</h4>
  <%= @log.arrival_temp %>
  <h4>到着予定時刻</h4>
  <%= @log.eta %>
  <h4>到着時刻</h4>
  <%= @log.ata %>
  <h4>着陸滑走路</h4>
  <%= @log.arrival_runway %>
  <h4>コメント</h4>
  <%= @log.comment %>