<div class="container logs-show my-5">
  <div class="login-background col-lg-11 text-center mx-auto">
    <h2 class="log-title text-center"><%= show_date(@log.date) %>　<%= @log.flight_number %></h2>
    <!--<div class="row justify-content-end">-->

    <!--</div>-->

    <div class="row">
      <div class="col-lg-9">
        <table class="table table-bordered table-show">
          <tr>
            <th>航空会社</th>
            <td><%= @log.airline %></td>
            <th>機種</th>
            <td><%= @log.aircraft %></td>
          </tr>
          <tr>
            <th>機体番号</th>
            <td><%= @log.registration_number %></td>
            <th>クラス</th>
            <td><%= @log.boarded_class %></td>
          </tr>
          <tr>
            <th>座席番号</th>
            <td><%= @log.seat %></td>
            <th>フライトタイム</th>
            <td><%= show_hour(@log.flight_time) %></td>
          </tr>
          <tr>
            <th>出発空港</th>
            <td><%= @log.departure_airport %></td>
            <th>到着空港</th>
            <td><%= @log.arrival_airport %></td>
          </tr>
          <tr>
            <th>出発ゲート</t>
            <td><%= @log.departure_gate %></td>
            <th>到着ゲート</th>
            <td><%= @log.arrival_gate %></td>
          </tr>
          <tr>
            <th>出発地天候</th>
            <td><%= @log.departure_weather %></td>
            <th>到着地天候</th>
            <td><%= @log.arrival_weather %></td>
          </tr>
          <tr>
            <th>出発地気温</th>
            <td><%= @log.departure_temp %></td>
            <th>到着地気温</th>
            <td><%= @log.arrival_temp %></td>
          </tr>
          <tr>
            <th>出発予定時刻</th>
            <td><%= show_time(@log.etd) %></td>
            <th>到着予定時刻</th>
            <td><%= show_time(@log.eta) %></td>
          </tr>
          <tr>
            <th>出発時刻</th>
            <td><%= show_time(@log.atd) %></td>
            <th>到着時刻</th>
            <td><%= show_time(@log.ata) %></td>
          </tr>
          <tr>
            <th>離陸滑走路</th>
            <td><%= @log.departure_runway %></td>
            <th>着陸滑走路</th>
            <td><%= @log.arrival_runway %></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-lg-9 log-image">
        <%= attachment_image_tag @log, :image, :fill, 400, 300, format: 'jpeg' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-9 log-image">
        <%= @log.comment %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-9 log-image">
        <%= link_to edit_log_path do %><i class="fas fa-edit fa-lg mr-4 text-dark"></i><% end %>
        <%= link_to log_path(@log), method: :delete, 'data-confirm' => '本当に削除しますか？' do %><i class="fas fa-trash-alt fa-lg text-dark"></i><% end %>
      </div>
    </div>
  </div>
</div>