<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 text-center total_num">
      <h4>総フライト数</h4>
      <%= @total_number %>回
    </div>
    <div class="col-lg-5 text-center">
      <h4>総フライトタイム</h4>
      <%= @total_hours %>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-lg-5 airport_pie">
      <%= pie_chart @airport_hash, suffix: '回', colors: ["#B0D4BA", "#D3C684", "#c97586", "#bbbcde", "#93b881", "#e6b422", "#aecbcd", "#DBA784", "#A4A1A2"], dataset: {borderColor: "#e6e6e6"} %>
    </div>
    <div class="col-lg-5">
      <%= pie_chart @airline_hash, suffix: '回', colors: ["#B0D4BA", "#D3C684", "#c97586", "#bbbcde", "#93b881", "#e6b422", "#aecbcd", "#DBA784", "#A4A1A2"], dataset: {borderColor: "#e6e6e6"} %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '年間グラフを見る　>', graph_log_path , class: 'btn btn-outline-secondary mr-3' %>
    <%= link_to '地図を見る　>', map_log_path, class: 'btn btn-outline-secondary', 'data-turbolinks': false %>
  </div>
</div>