<div class="container my-4">
  <div class="mypage-wrapper text-center mx-auto">
    <div class="mypage-header">
      <h3 class="py-5">ユーザ編集</h3>
    </div>
    <%= form_with model:@user, url: admins_user_path, local:true do |f| %>
    <table class="table mt-5">
      <tr>
        <td>
          <h4>名前</h4>
        </td>
        <td>
          <%= f.text_field :name, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>メールアドレス</h4>
        </td>
        <td>
          <%= f.text_field :email, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>ステータス</h4>
        </td>
        <td>
          <%= user_status(@user) %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>退会フラグ</h4>
        </td>
        <td>
          <%= f.radio_button :is_valid, true %>
          <%= f.label :is_valid, "有効", class: 'mr-5' %>
          <%= f.radio_button :is_valid, false %>
          <%= f.label :is_valid, "退会" %>
        </td>
      </tr>
    </table>
    <div class="row justify-content-center pb-3">
      <%= f.submit '編集', class: 'btn btn-outline-secondary' %>
    </div>
    <% end %>
  </div>
</div>
