<div class="container my-4">
  <%= render 'public/shared/error_messages', resource: @user %>
  <h3 class="mb-3">ユーザ情報編集</h3>
  <%= form_with model:@user, local:true do |f| %>
  <table class="table">
    <tr>
      <td>
        <h4>名前</h4>
      </td>
      <td>
        <%= f.text_field :name, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <h4>メールアドレス</h4>
      </td>
      <td>
        <%= f.text_field :email, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <th>
        <h4>ステータス</h4>
      </th>
      <th>
        <%= user_status(@user) %><br>
      </th>
    </tr>
  </table>
  <div class="row justify-content-center">
  <%= f.submit '編集内容を保存する', class: 'btn btn-outline-secondary' %>
  </div>
  <% end %>
</div>
