<div class="container my-4">
  <div class="mypage-wrapper text-center mx-auto">
    <div class="mypage-header">
      <h3 class="py-5">マイページ</h3>
    </div>
    <table class="table table-borderless">
      <tr>
        <td>
          <h5>名前</h5>
        </td>
        <td>
          <%= @user.name %>
        </td>
      </tr>
      <tr>
        <td>
          <h5>メールアドレス</h5>
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <th>
          <h5>ステータス</h5>
        </th>
        <th>
          <%= user_status(@user) %><br>
          次のレベルまであと<%= 20 - @user.logs.count %>フライト！
        </th>
      </tr>
    </table>
    <div class="row justify-content-center pb-3">
      <%= link_to '編集', edit_user_path, class: 'btn btn-outline-secondary mr-3' %>
      <%= link_to '退会', unsubscribe_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>