<h2>マイページ</h2>
<h4>名前</h4>
<%= @user.name %>
<h4>メールアドレス</h4>
<%= @user.email %>
<h4>ステータス</h4>
<%= user_status(@user) %>
<br>
<%= link_to '編集', edit_user_path %>
<%= link_to '退会', unsubscribe_path %>