<header>
  <nav class="header-nav navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <span class="navbar-brand p-3">
      <% if user_signed_in? %>
        <%= link_to logs_path do %><%= image_tag 'logo1.png' %><% end %>
      <% elsif admin_signed_in? %>
        <%= link_to admins_users_path, class: 'text-light text-decoration-none' do %><%= image_tag 'logo1.png' %><% end %>
      <% end %>
      </span>
      <% if user_signed_in? %>
        <span>あなたのレベルは<%= user_status(current_user) %>です！</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to user_path do %><i class="fas fa-user-edit fa-lg"></i><% end %></li>
          <li class="nav-item"><%= link_to logs_path do %><i class="fas fa-bookmark"></i><% end %></li>
          <li class="nav-item"><%= link_to new_log_path do %><i class="far fa-plus-square fa-lg"></i><% end %></li>
          <li class="nav-item"><%= link_to stats_log_path do %><i class="far fa-chart-bar fa-lg"></i><% end %></li>
          <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt fa-lg"></i><% end %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to admins_users_path do %><i class="fas fa-user-cog fa-lg"></i><% end %></li>
          <li class="nav-item"><%= link_to destroy_admin_session_path, method: :delete do %><i class="fas fa-sign-out-alt fa-lg"></i><% end %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>