<!DOCTYPE html>
<html>
  <head>
    <title>Myflightlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2285947374.js" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--トップページにheader非表示-->
    <% if user_signed_in? || admin_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>

    <!--フラッシュメッセージ-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
